hn-item {
  display: block;
  margin: 10px 0;
}

.hnItem-title {
  font-size: 10pt;
  color:#828282;
}

.hnItem > section {
  font-size:  7pt;

  &,
  a:link,
  a:visited {
    color: #828282;
  }

  a:hover {
    text-decoration: underline;
  }
}

.hnItem--comment {
  margin: 15px 0;
}

.hnItem--coment-content {
  margin-top: 5px;
}

.hnItem--comment-children {
  margin-left: 50px;
}