<div class="hnItem-loading spinner" *ngIf="!data">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>

<div class="hnItem-container" *ngIf="data">
  <div [ngSwitch]="data.type">
    <template [ngSwitchWhen]="'comment'">
      <div class="hnItem--comment">
        <header>
          <span class="u-pointer" (click)="collapsed = !collapsed" *ngIf="!topLevel">
            [{{collapsed ? '+' : '-'}}]
          </span>
          <a [href]="urlForUser(data.by)" class="hnItem-author">{{data.by}}</a>
          <span>{{timeAgo(data.time)}}</span> |
          <a [href]="urlForItem(data.id)">link</a>
        </header>
        <section class="hnItem--coment-content" [hidden]="!data || collapsed">{{data.text}}</section>
        <div class="hnItem--comment-children" *ngIf="loadChildren && data.kids" [hidden]="collapsed">
          <div *ngFor="#kidId of data.kids">
            child id: {{kidId}}
            <hn-item item-id="{{kidId}}"></hn-item>
          </div>
        </div>
      </div>
    </template>
    <template [ngSwitchWhen]="'job'">
      <div class="hnItem--story">
        <header>
          <a class="hnItem-title" [href]="data.url">{{data.title}}</a>
          <span class="comhead" [hidden]="!data.url">({{domainPipe(data.url)}})</span>
        </header>
        <section [hidden]="!data">
          <span>{{timeAgo(data.time)}}</span>
        </section>
      </div>
    </template>
    <template [ngSwitchWhen]="'poll'">
      <div class="hnItem--story">
        <header>
          <a class="hnItem-title" [href]="data.url">{{data.title}}</a>
          <span class="comhead" [hidden]="!data.url">({{domainPipe(data.url)}})</span>
        </header>
        <section [hidden]="!data">
          <span>{{data.score}} points</span> by
          <a [href]="urlForUser(data.by)">{{data.by}}</a>
          <span>{{timeAgo(data.time)}}</span> |
          <a [href]="urlForItem(data.id)">comments</a>
        </section>
      </div>
    </template>
    <template ngSwitchDefault>
      <div class="hnItem--story">
        <header>
          <a class="hnItem-title" [href]="data.url">{{data.title}}</a>
          <span class="comhead" [hidden]="!data.url">({{domainPipe(data.url)}})</span>
        </header>
        <section [hidden]="!data">
          <span>{{data.score}} points</span> by
          <a [href]="urlForUser(data.by)">{{data.by}}</a>
          <span>{{timeAgo(data.time)}}</span> |
          <a [href]="urlForItem(data.id)">comments</a>
        </section>
      </div>
    </template>
  </div>
</div>
